<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>ollama</string>

    <key>StandardOutPath</key>
    <string>{{ ollama_home }}/launchd.stdout.log</string>

    <key>StandardErrorPath</key>
    <string>{{ ollama_home }}/launchd.stderr.log</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>OLLAMA_HOST</key>
        <string>{{ ollama_host }}</string>
    </dict>

    <key>ProgramArguments</key>
    <array>
      <string>/opt/homebrew/bin/ollama</string>
      <string>serve</string>
    </array>

    <key>UserName</key>
    <string>{{ user_name }}</string>

    <key>GroupName</key>
    <string>staff</string>

    <key>ExitTimeOut</key>
    <integer>30</integer>

    <key>Disabled</key>
    <false />

    <key>KeepAlive</key>
    <true />
  </dict>
</plist>